*{
    /* background-color: greenyellow; */
    margin: 0;
   /* position: relative; */

    
}


.boc{
    width: 100%;
    height: 80px;
   background-color: black;
   overflow: hidden;
  position: fixed;
    
}


.top-inner-bar{
    width: 90%;
    /* background-color: rgb(199, 23, 82); */
    margin: auto;
    margin-top: 25px;
    display: flex;
    align-items: center;

}

.logo-section{
    display: flex;
    align-items: center;
    /* display: inline-block; */
    /* background-color: bisque; */
    width:40%;


}

.logo-section .abstract-logo{
    width: fit-content;
    /* background-color: blanchedalmond; */
    height: 2rem;


}






.logo-section .help-center{
    margin:2px 0 0 0.8rem;
    border-left: 2px solid white;
   line-height: 20px;
   padding-left: 10px;
   /* background-color: aquamarine; */
   color: azure;
   font-family:'GT America standard';
   width: fit-content;
   /* background-color: rgb(237, 169, 68); */

  

}
.button-section{
    width: 60%;
    display: flex;
 justify-content: flex-end;
    /* flex-direction: column; */
}

.btn-req{
   
    border: 1px solid white;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 20px;
    border-radius: 7px;
    font-family: 'GT America Standard', serif;
    font-size: 15px;
}

.btn-sign{
    background-color: #4C5FD5;
    border-color: #4C5FD5;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 6px;
    border-radius: 3px;
    color: white;
    font-size: 15px;

}




/* search bar start*/
.search-bar{
    width: 100%;
    height: 396px;
    background-color: #DADBF1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-bar{
    width: 720px;
    /* background-color: aquamarine; */
    height: 300px;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
p{
    font-size: 10vmin;
    margin-bottom: 20px;
    /* background-color: #4C5FD5; */
    width: 700px;
    height: 100px; 
padding-left: 100px;
/* padding-right: 0; */

}
.search{
   width: 700px;
   height: 65px;
   border: 1.5px solid black;
   border-radius: 3px;
   padding-left: 30px;
   box-shadow: 1px 20px 14px 0 rgba(0, 0, 0, 0.1);

}

.inner-bar svg
{
    height: 40px;
    width: 45px;

  position:absolute;
   margin-left: 55%;
margin-top:120px;

}

/* search bar ends */



/* middle start */
.mid-section{
    width: 100%;
    height: 900px;
    /* background-color: blue; */
    margin-top: 150px;
}

.container-section
{
    width: 80%;
    /* background-color: aquamarine; */
    height: 900px;
    margin: auto;
    display: flex;
    flex-wrap:wrap ;
   

}

.container-list{
    width: 50%;
    height: 300px;
    /* background-color: black; */
    display: flex;
    /* padding-right: 1.5rem; */
    /* border: 1px solid red; */

}

.image-block{
    width: 20%;
    /* background-color: azure; */
    height: 300px;
    margin-right: 10px;

}

.text-block{
    /* width: 487px; */
    width: auto;

    height:300px;
    /* background-color: rgb(162, 209, 90); */
}

.text-block p{
    font-size: 2.8vmin;
    font-family: 'GT America Standard', sans-serif;
    width: 34vw;
    height:100px;
    padding: 0;
}

.version{
    width: 5.5vw;
    margin-top: 30px;

}

.text-block h4
{
    font-size: 3vmin;
    font-family: 'GT America Standard', sans-serif;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.text-block a{
    font-size: 3vmin;
    font-family: 'GT America Standard', sans-serif;
    text-decoration: none;
    color: #4C5FD5;

}
.text-block .abstract-support 
{
    width: 34vw;
    height:70px;
}

/* middle ends */



/*  footer start*/
.footer-container
{
    width: 100%;
    height: 400px;
    background-color: black;
}

.inner-footer
{
    width: 80%;
    height: 400px;
    margin: auto;
    /* background-color: #24287a; */
    
    /* display: flex; */
    /* flex-direction: row;
    gap: 20px; */
}


.footer-column{
    width: fit-content;
    /* height: 20vw; */
    /* height: ; */
    /* background-color: aquamarine; */
    display: inline-block;
vertical-align: top;
 
  
}

.header
{
    margin: 20px;
    font-weight: 600;
    margin-left: 0;
    /* font-size: 24px; */
    font-size: 24px;
    color: white;

}

.footer-column a{
    display: block;
    font-size: 16px;
    font-family: 'GT America Standard', sans-serif;

    line-height: 25px;
    color: white;
    /* font-weight: 400; */

}


strong
{
  font-weight: 600;
  color: white;

}

.legal
{
    margin-bottom: 30px;
}


.footer-column-copywrite
{
/* text-align: end; */

    width: 100%;
    height: 120px;
    /* margin: 0; */
    /* background-color: #95e7bf; */

}




.footer-column-copywrite p{

    font-size: 16px;
    height: 10px;
    font-family: 'GT America Standard', sans-serif;
  padding: 0;
  /* background-color: gold; */
  color: white;
  width: auto;
  height: fit-content;
margin-bottom:8px ;

  text-align: end;

  
}


.footer-column-copywrite .abstract-logo{
    width: fit-content;
    /* background-color: blanchedalmond; */
    height: 2rem;


}


.footer-column-copywrite .header
{
    text-align: end;
  color: white;

    font-size: 24px;
    height: fit-content;
    width: auto;
    /* background-color: #DADBF1; */

}

/*  footer ends*/
